.container {
  padding: 0px 1rem 0px 1rem;
}

/* 
===== List
*/

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(172.5px, 1fr));
  gap: 1rem;
}

/* 
======== Card
*/
.card {
  position: relative;
  background-color: var(--secondary);
  color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 188.57px;
  height: 100%;
}

.card .cardFooter {
  &::before {
    content: '';
    position: absolute;
    top: -6px;
    height: 5.38px;
    width: 100%;
    left: 0;
    background: var(--primary);
    transition: all ease-in-out 200ms;
  }
}

.card:hover {
  .cardFooter {
    z-index: 1;

    &::before {
      height: 120%;
      z-index: 0;
    }

    .button {
      color: white;
      .buttonFav {
        color: white;
      }
    }
  }
}

.cardLink {
  color: var(--white);
  font: var(--caption);
  text-decoration: none;
  display: block;
}

.cardImage {
  width: 100%;
  aspect-ratio: 1;
  transition: 0.2s ease-in-out;

  :hover {
    transform: scale(110%);
  }
}

.cardFooter {
  padding: 16px 16px 24px 16px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  text-transform: uppercase;
  z-index: 10;

  p {
    font: var(--caption);
    line-clamp: 1;
    position: relative;
    z-index: 1;
    margin-right: 0.5rem;
  }
}

/* 
====== Action
*/

.button {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: white;
  transition: all ease-in-out 200ms;
  .buttonFav {
    color: red;
  }
}

/* 
  Favorites
*/

.likeCounter {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

@media (width > 640px) {
  .container {
    padding: 0px 48px 0px 48px;
  }

  .card {
    max-width: 188.57px;
  }
}
