.loader {
  border: 3px solid var(--primary);
  border-top: 3px solid transparent;
  aspect-ratio: 1;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  border-radius: 100px;
  animation: loader ease 1s infinite both;
  margin-inline: auto;
  margin-block: 2rem;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}